<div class="page-header text-center">
	<h1>{{picture.titulo}}</h1>
</div>

<p ng-show="message.length" class="alert alert-info">{{message}}</p>

<form novalidate name="formulary" class="row" ng-submit="send()">
	<div class="col-md-6">
		<div class="form-group">
			<label>Título</label>
			<input name="titulo" class="form-control" ng-model="picture.titulo" required>  

			<span ng-show = "formulary.$submitted && formulary.titulo.$error.required"
				class="form-control alert-danger">
				Título obrigatório
			</span>
			<span ng-show="formulary.$submitted && formulary.titulo.$error.maxlength" 
				class="form-control alert-danger">
				No máximo 20 caracteres!
			</span>
		</div>
		<div class="form-group">
			<label>URL</label>
			<input name="url" class="form-control" ng-model="picture.url" required>

			<span ng-show = "formulary.$submitted && formulary.url.$error.required" 
				class="form-control alert-danger">
				URL obrigatória
			</span> 
		</div>
		<div class="form-group">
			<label>Descrição</label>
			<textarea name="descricao" class="form-control" ng-model="picture.descricao">
			</textarea>
		</div>

		<button type="submit" class="btn btn-primary" ng-disabled="formulary.$invalid">
			Salvar
		</button>
		<a href="/" class="btn btn-primary">Voltar</a>
		<hr>
	</div>
	<div class="col-md-6">
        <img class="img-responsive center-block" src="{{picture.url}}" alt="{{picture.titulo}}">
	</div>
</form>